@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

/*******COLORS*******/
header {
  min-height: 400px;
  background-color: #eeeeeed5;
}

.logo {
  display: block;
  margin: auto;
  justify-content: center;
  height: 30px;
  padding: 15px 0 10px;
}

.address {
  height: 20px;
  display: block;
  justify-content: center;
  background-color: #eaeaea;
  font-size: 16px;
  font-weight: 500;
  padding: 10px 0 10px 30%;
}

i {
  padding: 10px;
}

a:link {
  color: #ffffff;
  text-decoration: none;
}

footer {
  min-height: 250px;
  background-color: #333;
  color: #fff;
  padding: 10px;
}

.footer_logo {
  padding: 10px 0 0 10px;
  font-style: italic;
  margin: 10px 0 0 10px;
}

footer ul {
  padding-top: 10px;
  margin: 0px 0 0 10px;
  list-style: none;
  color: #ffffff;
}

footer ul li {
  margin: 15px;
}

footer ul li i {
  padding-right: 6px;
}

.banner-title {
  text-align: center;
  padding: 30px;
  font-weight: 900;
  font-size: 1.5em;
}

.banner-subtitle {
  text-align: center;
  font-size: 18px;
  padding: 10px 0 10px 0;
}

button {
  display: block;
  justify-content: center;
  margin: 25px auto;
  background: linear-gradient(#ff79da, #9356dc);
  font-size: 15px;
  color: white;
  border-radius: 30px;
  width: 60%;
  padding: 15px;
  border: none;
}

button:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#fface8), to(#ae80e5));
  background: linear-gradient(#fface8, #ae80e5);
  -webkit-box-shadow: 0px 10px 10px 0px rgba(12, 12, 12, 0.1);
  box-shadow: 0px 10px 10px 0px rgba(12, 12, 12, 0.1);
}

.how-it-works {
  padding: 30px 0 5px 30px;
  margin: 10px auto;
  font-size: 25px;
  font-weight: 700;
}

.btn {
  border-radius: 20px;
  height: 3.5em;
  width: 80%;
  margin: 15px auto;
  display: flex;
  background-color: #f1f1f1;
}

.btn:hover {
  -webkit-box-shadow: 0px 10px 10px 0px rgba(12, 12, 12, 0.1);
  box-shadow: 0px 10px 10px 0px rgba(12, 12, 12, 0.1);
  background: rgba(174, 128, 229, 0.2);
}

i {
  padding: 1px 5px;
  justify-content: center;
}

.label {
  font-size: l6px;
  font-weight: bold;
  justify-content: center;
}

.circle {
  width: 20px;
  height: 20px;
  border-radius: 15px;
  background-color: #9356dc;
  color: #fff;
  margin: 14px 0 0 -12px;
  text-align: center;
}

.btn-icons {
  margin: 15px 0 0 10px;
}

.label {
  margin: 15px 0 0 10px;
}

.restaurants {
  height: 100%;
  background-color: #eeeeeed5;
  margin-top: 3em;
  margin-bottom: 30%;
}

.restau-box {
  position: relative;
  border-radius: 15px;
  margin: 20px;
  background-color: #fff;
}

.text-block {
  position: absolute;
  width: 10%;
  height: 1.8em;
  bottom: 80%;
  right: 20px;
  background-color: #99e2d0;
  color: #068a6a;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}

/*.text-block h5 {
  position: relative;
  left: 6px;
  top: 6px;

}*/
.rest-subtitle {
  display: block;
  font-size: 23px;
  font-weight: bolder;
  width: 60%;
  padding: 15% 0 2% 5%;
}

/*.rest-container {
width: 98%;
height: 220px; 
position: relative;
border-radius: 15px;
margin-bottom: 2em;
margin-left: 5px;
padding-right: auto;
background-color: #fff;

}*/
.rest-container img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-repeat: no-repeat;
  object-position: center;
}

.restau-desc {
  padding: 5px 1px 2px 2px;
  display: flex;
  margin: 15px;
}

.r-desc {
  width: 90%;
  text-align: left;
  color: black;
  font-size: large;
}

a:link {
  text-decoration: none;
}

.r-heart {
  width: 10%;
  margin-left: 2em;
}

.r-heart .heart-f {
  display: none;
  color: #9356dc;
}

.r-heart:hover .heart-o {
  display: none;
}

.r-heart:hover .heart-f {
  display: block;
  -webkit-animation: fadein 2s;
 
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.load-bg {
  width: 100%;
  height: 20000px;
  z-index: 1000;
  background-color: #000;
  position: fixed;
  animation: fade-out-loader 3s forwards;
  padding-top: 20%;
}

.loader {
  margin: 10px auto;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 15px solid #9356dc;
  border-top: 15px double #99e2d0;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
@keyframes fade-out-loader {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.8;
  }
  50% {
    opacity: 0.6;
  }
  75% {
    opacity: 0.4;
  }
  100% {
    opacity: 0;
    display: none;
    z-index: -1000;
  }
}

/*# sourceMappingURL=home.css.map */
