@import "style";

.banner-title {
  text-align: center;
  padding: 30px;
  font-weight: 900;
  font-size: 1.5em;
}

.banner-subtitle {
  text-align: center;
  font-size: 18px;
  padding: 10px 0 10px 0;
}

button {
  //----------------to copy to other pages
  display: block;
  justify-content: center;
  margin: 25px auto;
  background: linear-gradient(#ff79da, #9356dc);
  font-size: 15px;
  color: white;
  border-radius: 30px;
  width: 60%;
  padding: 15px;
  border: none;
}

button:hover {
  //----------------to copy to other pages
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#fface8),
    to(#ae80e5)
  );

  background: linear-gradient(#fface8, #ae80e5);
  -webkit-box-shadow: 0px 10px 10px 0px rgba(12, 12, 12, 0.1);
  box-shadow: 0px 10px 10px 0px rgba(12, 12, 12, 0.1);
}

.how-it-works {
  padding: 30px 0 5px 30px;
  margin: 10px auto;
  font-size: 25px;
  font-weight: 700;
}

.btn {
  border-radius: 20px;
  height: 3.5em;
  width: 80%;
  margin: 15px auto;
  display: flex;
  background-color: rgb(241, 241, 241);
}

.btn:hover {
  -webkit-box-shadow: 0px 10px 10px 0px rgba(12, 12, 12, 0.1);
  box-shadow: 0px 10px 10px 0px rgba(12, 12, 12, 0.1);
  background: rgba(174, 128, 229, 0.2);
}

i {
  padding: 1px 5px;
  justify-content: center;
}

.label {
  font-size: l6px;
  font-weight: bold;
  justify-content: center;
}

.circle {
  width: 20px;
  height: 20px;
  border-radius: 15px;
  background-color: #9356dc;
  color: #fff;
  margin: 14px 0 0 -12px;
  text-align: center;
}

.btn-icons {
  margin: 15px 0 0 10px;
}

.label {
  margin: 15px 0 0 10px;
}

.restaurants {
  height: 100%;
  background-color: $background;
  margin-top: 3em;
  margin-bottom: 30%;
}

.restau-box {
  position: relative;
  border-radius: 15px;
  margin: 20px;
  background-color: #fff;
}

.text-block {
  position: absolute;
  width: 10%;
  height: 1.8em;
  bottom: 80%;
  right: 20px;
  background-color: #99e2d0;
  color: #068a6a;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}

/*.text-block h5 {
  position: relative;
  left: 6px;
  top: 6px;

}*/

.rest-subtitle {
  display: block;
  font-size: 23px;
  font-weight: bolder;
  width: 60%;
  padding: 15% 0 2% 5%;
}

//changes made-------
/*.rest-container {
width: 98%;
height: 220px; 
position: relative;
border-radius: 15px;
margin-bottom: 2em;
margin-left: 5px;
padding-right: auto;
background-color: #fff;

}*/

.rest-container img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-repeat: no-repeat;
  object-position: center;
}

.restau-desc {
  padding: 5px 1px 2px 2px;
  display: flex;
  margin: 15px;
}

.r-desc {
  width: 90%;
  text-align: left;
  color: black;
  font-size: large;
  //font-weight: 500;
}

a:link {
  text-decoration: none;
}

.r-heart {
  width: 10%;
  margin-left: 2em;
}

.r-heart .heart-f {
  display: none;
  color: $primary;
}

.r-heart:hover .heart-o {
  display: none;
}

.r-heart:hover .heart-f {
  display: block;
  -webkit-animation: fadein 2s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.load-bg {
  width: 100%;
  height: 20000px;
  z-index: 1000;
  background-color: #000;
  position: fixed;
  animation: fade-out-loader 3s forwards;
  padding-top: 20%;
}

.loader {
  margin: 10px auto;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 15px solid #9356dc;
  border-top: 15px double #99e2d0;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

@keyframes fade-out-loader {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.8;
  }
  50% {
    opacity: 0.6;
  }
  75% {
    opacity: 0.4;
  }
  100% {
    opacity: 0;
    display: none;
    z-index: -1000;
  }
}
