@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

/*******COLORS*******/

$primary: #9356dc;
$secondary: #ff79da;
$tertiary: #063b2e;
$background: #f6f6f6;
$font-family:'Shrikhand', 'cursive';
$link:#ffffff;
$button-backround: linear-gradient(#ff79da, #9356dc);








header {
  min-height: 400px;
  background-color: $background;
}



.logo {
  display: block;
  margin: auto;
  //justify-content: center;
  height: 30px;
  padding: 15px 0 10px;
}

.address {
  height: 30px;
  justify-content: center;
  //text-align: center;
  background-color: #eaeaea;
  font-size: 16px;
  font-weight: 500;
  padding: 10px 0 10px 25%;
}

i {
  padding: 10px;
}

a:link {
  color:$link;
  text-decoration: none;
}


footer {
  min-height: 250px;
  background-color: #333;
  color: #fff;
  padding: 10px;
}

.footer_logo {
  padding: 10px 0 0 10px;
  font-style: italic;
  margin: 10px 0 0 10px;
}

footer ul {
  padding-top: 10px;
  margin: 0px 0 0 10px;
  list-style: none;
  color: #ffffff;
}

footer ul li {
  margin: 15px;

}
 
footer ul li i {
  padding-right: 6px;
}
